<mat-card class="task-card">
  <button mat-icon-button class="close-btn" (click)="closeForm()">
    <mat-icon>close</mat-icon>
  </button>
  <h2>Task</h2>

  <form [formGroup]="taskForm" (ngSubmit)="submit()" class="task-form">

    <!-- TITLE -->
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>

    <!-- DESCRIPTION -->
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>

    <!-- STATUS -->
    <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">{{ status.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- PRIORITY -->
    <mat-form-field class="full-width">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let priority of priorities" [value]="priority.value">{{ priority.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- SUBMIT -->
    <div>
      <button mat-fab extended class="full-width" [disabled]="taskForm.invalid">
        <mat-icon>add_circle_outline</mat-icon>
        Save
      </button>
    </div>

  </form>
</mat-card>
