<ng-container *ngIf="project">
  <h1>{{ project.name }}</h1>
  <p>{{ project.description }}</p>

  <div *ngIf="!showForm">
    <button mat-fab extended (click)="openCreateForm()">
      <mat-icon>add_circle_outline</mat-icon>
      New Task
    </button>
  </div>

  <app-task-form
    *ngIf="showForm"
    [projectId]="project.id"
    [taskToEdit]="selectedTask"
    (updated)="loadTasks()"
    (created)="loadTasks()"
    (close)="closeForm()"
  ></app-task-form>

  <app-task-list
    [tasks]="tasks"
    (taskToEdit)="openEditForm($event)"
    (deleted)="deleteTask($event)">
  ></app-task-list>
</ng-container>
