.task-card {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.task-card:hover {
  transform: scale(1.02);
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center; /* centra verticalmente */
}

.text-content {
  flex: 1; /* ocupa todo el espacio disponible */
}
